<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Title of the document</title>
    <!-- Material Icon CDN -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Your custom styles -->
      <link rel="stylesheet" href="css/style.css">
    <!-- Used as an example only to position the footer at the end of the page.
    You can delete these styles or move it to your custom css file -->
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        }
      main {
        flex: 1 0 auto;
      }
    </style>
  </head>
  <body class="purple lighten-1">
     <div class="container">
         <div class="row">
             <div class="col s12 center align">
                <img width="150px" src="pexels-photo-1805164.jpeg" alt="" class=" circle responsive-img"/>
             </div>
             <div class="row">
                <div class="col s12 center align">
                  <h2 class="white-text">Jack</h2>
                </div>

             
         </div>
       <div class="row">
        <div class="col s4">
            <div class="card-panel red">
                <span class="white-text">Health</span>
            </div>
          </div>
          <div class="col s4">
            <div class="card-panel blue">
                <span class="white-text">purity</span>
            </div>
          </div>
          <div class="col s4 ">
            <div class="card-panel green ">
                <span class="white-text">Stamina</span>
            </div>

            
          </div>
          
        </div>
        
        <div class="row">
            <div class="col s4">
                <div class="card-panel indigo">
                    <span class="white-text">Sleeping</span>
                </div>
              </div>
              <div class="col s4">
                <div class="card-panel pink">
                    <span class="white-text">Mood</span>
                </div>
              </div>
              <div class="col s4 ">
                <div class="card-panel orange">
                    <span class="white-text">Agility</span>
                </div>
    
                
              </div>
              
            </div>
            
            <div class="row">
                <div class="col s4">
                    <div class="card-panel green accent-3">
                        <span class="white-text">Intelect</span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel cyan">
                        <span class="white-text">Hunger</span>
                    </div>
                  </div>
                  <div class="col s4 ">
                    <div class="card-panel deep-orange">
                        <span class="white-text">Speed</span>
                    </div>
        
                    
                  </div>
                  
                </div>
                <div class="row align center">
                    <a class="waves-effect waves-light btn red">feed</a>
                    <a class="waves-effect waves-light btn blue">wash</a>
                    <a class="waves-effect waves-light btn pink">play</a>
                    <a class="waves-effect waves-light btn deep-orange">train</a>
                    <a class="waves-effect waves-light btn green">walk</a>
                    <a class="waves-effect waves-light btn indigo">search</a>
                    <a class="waves-effect waves-light btn orange">spectate</a>  
                    <a class="waves-effect waves-light btn brown">voice</a>
                    <a class="waves-effect waves-light btn cyan">sleep</a>                                  
                </div>
        </div>
        </div>
       </div>
     </div>
    
    <!-- jQuery CDN -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

   
  </body>
</html>